
<div>
   <h1 class="main-content">Wiki Collaboration Tool</h1>
   <h3> A production quality SaaS app that allows users to create and collaborate on wikis.</h3>
   <h4>♦ Users can  sign up for a free Standard account to create, edit, and delete public wikis.</h4>
   <h4>♦ Users can purchase a Premium account that allows them to create private wikis.</h4>
   <h4>♦ If User downgrades from Premium to Standard account, private wikis become public.</h4>
   <h4>♦ When collaborators are removed they are no longer able to view or work on private wikis.</h4>
   <h4>♦ Users can chose collaborators from a dropdown menu to work on privatewikis.</h4>
          

</div>




